@font-face {
  font-family: 'iconfont';  /* project id 532535 */
  src: url('http://at.alicdn.com/t/font_532535_sivswk0id6uhaor.eot');
  src: url('http://at.alicdn.com/t/font_532535_sivswk0id6uhaor.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_532535_sivswk0id6uhaor.woff') format('woff'),
  url('http://at.alicdn.com/t/font_532535_sivswk0id6uhaor.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_532535_sivswk0id6uhaor.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'iconfont1';  /* project id 532535 */
  src: url('http://at.alicdn.com/t/font_532535_sivswk0id6uhaor.eot');
  src: url('http://at.alicdn.com/t/font_532535_sivswk0id6uhaor.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_532535_sivswk0id6uhaor.woff') format('woff'),
  url('http://at.alicdn.com/t/font_532535_sivswk0id6uhaor.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_532535_sivswk0id6uhaor.svg#iconfont') format('svg');
}
::-webkit-input-placeholder { /* WebKit browsers */  
    color:    #ccc;  
}  
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
   color:     #ccc; 
   opacity:  1;  
}  
::-moz-placeholder { /* Mozilla Firefox 19+ */  
   color:    #ccc; 
   opacity:  1;  
}  
:-ms-input-placeholder { /* Internet Explorer 10+ */  
   color:     #ccc; 
} 
.head-buy span:nth-child(1){
	font-family: 'iconfont';
	line-height: 40px;
	float: left;
	color: #b0b0b0;
}
.iconfont1{
	font-family: iconfont1;
}
/* 顶部 */
.head{
	width: 100%;
	height: 40px;
	background-color: #333;
}
.head-neikuan{
	width: 1226px;
	height: 40px;
	background-color: #333;
	margin: 0 auto;
}
.head-zuo{
	height: 40px;
	background-color: #333;
	float: left;
}
.head-wenzi{
	color: #b0b0b0;
	font-size: 12px;
	line-height: 40px;
	float: left;
}
.head-wenzi:hover{
	color: #fff;	
}
.head-shuxian{
	color: #424242;
	font-size: 12px;
	line-height: 40px;
	float: left;
	margin: 0 6px;

}
.head-you{
	float: right;
	height: 40px;
	background-color: #333;
}
.head-gwc{
	float: right;
	color: #7693b0;
	line-height: 40px;
}
.head-gwc:hover{
	color: #ff6700;
}
.gwc{
	width: 120px;
	height: 40px;
	background-color: #424242;
	float: left;
	margin-left: 15px;
	padding-left: 17px;
}
.gwc span:nth-child(1){
	font-family: 'iconfont';
	line-height: 40px;
	float: left;
	color: #b0b0b0;
}
.gwc:hover{
	background-color: #fff;
}
/* 导航 */
.nav{
	width: 1226px;
	height: 100px;
	/* background-color: hsl(120, 60%, 80%); */
	margin: 0 auto;
}
.nav-logo{
	width: 55px;
	height: 55px;
	margin-top: 22.5px;
	float: left;
}
.nav-wenzi{
	height: 100px;
	/* background-color: yellowgreen; */
	margin-left: 189px;
	float: left;
}
.nav-wenzi a{
	float: left;
	line-height: 100px;
	padding: 0 10px;
	font-size: 16px;
	color: #333;
}
.nav-wenzi1:hover{
	color: #ff6700;
}
.nav-right{
	width: 296px;
	height: 50px;
	/* background-color: orangered; */
	float: right;
	margin-top: 25px;
	position: relative;
}
.nav-right input{
	position: absolute;
	top: 0;
	right: 51px;
	z-index: 1;
	width: 218px;
	height: 48px;
	padding-right: 30px;
	padding-left: 5px;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	line-height: 48px;
	outline: 0;
	-webkit-transition: all .2s;
	transition: all .2s;
	cursor: pointer;
}
.nav-right input:hover{
	color: #ff6700;
}
.nav-right input:nth-child(2){
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	width: 52px;
	height: 50px;
	border: 1px solid #e0e0e0;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	background: #fff;
	color: #616161;
	outline: 0;
	-webkit-transition: all .2s;
	transition: all .2s;
	padding-left: 10px;
}
.nav-right input:nth-child(2):hover{
	background: #ff6700;
	color: #fff;
}

/* 明星单品 */
.star{
	width: 1226px;
	height: 438px;
/* 	background-color: yellow; */
	margin: 0 auto;
}
.star-top{
	width: 100%;
	height: 58px;
/* 	background-color: red; */
}
.star-top h2{
	line-height: 58px;
	font-size: 22px;
	color: #333;
	font-weight: 200;
	float: left;
}
.star-btn{
	width: 70px;
	height: 25px;
	float: right;
/* 	background-color: #2ef; */
	margin-top: 24px;
	border: 1px solid #e0e0e0;
}
.star-btn span{
	float: left;
	width: 34px;
	height: 100%;
	text-align: center;
	line-height: 23px;
	font-size: 16px;
	color: #b0b0b0
}
.star-btn .star-btn-active{
	width: 33px;
	border-left: 1px solid #e0e0e0;
	color: #b0b0b0;
}
.star-bottom{
	width: 1226px;
	height: 340px;
/* 	background-color: pink; */
}
.star-item{
	width: 234px;
	height: 300px;
	background-color: #fafafa;
	border-top: 1px solid #ffac13;
	float: left;
	padding-top: 39px;
	margin-right: 14px;
}
.star-item1{
	width: 160px;
	height: 166px;
/* 	background-color: red; */
	display: block;
	margin: 0 auto;
}
.star-item2{
	font-size: 14px;
	font-weight: 400;
	color: #212121;
	text-align: center;
	margin-top: 22px;
}
.star-item3{
	font-size: 12px;
	font-weight: normal;
	color: #b0b0b0;
	text-align: center;
	margin-top: 3px;
}
.star-item4{
	font-size: 14px;
	color: #ff6709;
	text-align: center;
	margin-top: 12px;
}
.star-items{
	margin-right: 0px;
}
.star-2{
	border-top: 1px solid #83c44e;
}
.star-3{
	border-top: 1px solid #2196f3;
}
.star-4{
	border-top: 1px solid #e53935;
}
.star-5{
	border-top: 1px solid #00c0a5;
}

.big-box{
	width: 100%;
	height: 5250px;
	background-color: #f5f5f5;
	padding-top: 60px;
}
.jd{
	width: 1226px;
	height: 686px;
/* 	background-color: yellowgreen; */
	margin: 0 auto;
}
.jd-nav{
/* 	background-color: yellow; */
	float: right;
	margin-top: 16px;
}
.jd-nav li{
	float: left;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	padding-bottom: 2px;
	margin-left: 30px;
	color: #424242;
	font-size: 16px;
}
.jd-nav .jd-nav-active{
	color: #ff6700;
	border-bottom-color: #ff6700;
}
.jd-bottom{
	width: 1226px;
	height: 628px;
}
.jd-zuo{
	width: 234px;
	height: 614px;
	float: left;
}
.jd-you{
	width: 992px;
	height: 614px;
	float: left;
/* 	background-color: green; */
}
.jd-item{
	width: 234px;
	height: 266px;
	background-color: white;
	float: left;
	margin-left: 14px;
	padding-top: 34px;
	margin-bottom: 14px;
}
.jd-item1{
	width: 150px;
	height: 156px;
	display: block;
	margin: 0 auto;
}
.jiadian-left:hover, .jiadian-item:hover, .tuijian-item:hover, .reping-zhanshi:hover {
    transform: translate(0, -10px);
    box-shadow: 0 5px 16px 1px #ccc;
}
.zn-item1{
	margin-left: 0px;
	padding-top: 0px;
	height: 300px;
}
.zn01{
	width: 234px;
	height: 300px;
}
.wntj{
	border-top: 0px;
	background-color: white;
}
.rpcp-bottom{
	width: 1226px;
	height: 415px;
}
.rpcp-tiem{
	width: 296px;
	height: 415px;
	background-color: white;
	float: left;
	/* padding-top: 39px; */
	margin-left: 14px;
/* 	margin-bottom: 14px; */
}
.rpcp-tiem1{
	width: 296px;
	height: 220px;
	margin: 0 0 28px;
}
.rpcp-wenzi{
	height: 72px;
	margin: 0 28px 22px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}
.rpcp-pj{
	height: 18px;
	margin: 0 28px 8px;
	padding: 0 10px 0 0;
	font-size: 12px;
	color: #b0b0b0;
}
.rpcp-name{
	text-overflow: ellipsis;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}
.sx{
	color: #e0e0e0;
	margin: 5px;
}
.wzbox{
	width: 255px;
	height: 16px;
	margin: 0 30px;
}
.rpcp-jq{
	margin-top: 0px;
}
.rpcp{
	width: 1226px;
	height: 473px;
	margin: 0 auto;
}
.rp{
	margin-left: 0px;
}
.reping-item1211{
	height: 500px;
}
.reping-item121{
	height: 374px;
	padding-top: 45px;
}
.reping-item1213{
	border-top: 1px solid #ffac13;
}
.reping-item1214{
	border-top: 1px solid #83c44e;
}
.reping-item1215{
	border-top: 1px solid #e53935;
}
.reping-item1216{
	border-top: 1px solid #2196f3;
}
.neirong-wenzi{
	font-size: 16px;
	color: #ffac13;
    text-align: center;
    margin-bottom: 18px;
    font-weight: 400;
}
.neirong-wenzi1{
	font-size: 20px;
	color: #333;
    text-align: center;
    font-weight: 400;
    margin-bottom: 5px;
}
.neirong-wenzi2{
	font-size: 12px;
	color: #b0b0b0;
    text-align: center;
    width: 200px;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 10px;
	line-height: 20px;
}
.neirong-wenzi3{
	font-size: 13px;
	color: #333;
    text-align: center;
    width: 200px;
	height: 40px;
	margin: 0 auto;
}
.neirong-tupian{
	width: 216px;
	height: 154px;
	margin: 0 auto;
}
.neirong-wenzis{
	font-size: 16px;
	color: #83c44e;
    text-align: center;
    margin-bottom: 18px;
    font-weight: 400;
}
.neirong-wenziq{
	font-size: 16px;
	color: #e53935;
    text-align: center;
    margin-bottom: 18px;
    font-weight: 400;
}
.neirong-wenziw{
	font-size: 16px;
	color: #2196f3;
    text-align: center;
    margin-bottom: 18px;
    font-weight: 400;
}
.renping-itema{
    margin-left: 14px;
}
.renping-items{
	width: 296px;
	height: 285px;
	background-color: #fff;
	float: left;
}
.shipin-tupian-box{
    margin-bottom: 28px;
    color: #222
}
.shipin-wenzi{
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: #333;

}
.shipin-wenzi:hover{
	color: #ff6700;
}
.shipin-box-wenzi{
	margin-bottom: 6px;
}
.shipin-wenziq{
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	color: #b0b0b0;

}
.chakan{
	line-height: 58px;
    font-size: 16px;
    color: #333;
    font-weight: 200;
    float: left;
    float: right;
}
.chakan:hover{
	color: #ff6700;
	transition: all 0.4s;
}
.reping-item12111{
	height: 343px;
}
.zhandainditu-box{
	width: 100%;
	height: 270px;
	background-color: #fff;
}
.zhandianditu-box-shang{
	width: 1226px;
	padding: 27px 0;
	margin: 0 auto;
	border-bottom: 1px solid #e0e0e0;
}
.zhandianditu-box-shang-wenzi{
	width: 19.9%;
    height: 25px;
    text-align: center;
    float: left;
    border-right: 1px solid #e0e0e0;
    
	
} 
.zhandianditu-box-shang-wenzi a{
	color: #616161;
}
.zhandianditu-box-shang-wenzi a:hover{
    color: #ff6700;
}
.zhandianditu-box-shang-wenzix{
	width: 19.9%;
    height: 25px;
    text-align: center;
    float: right;
    
}
.zhandianditu-box-shang-wenzix a{
	color: #616161;
}
.zhandianditu-box-shang-wenzix a:hover{
	color: #ff6700;
}
.zhandianditu-box-shanga{
	width: 1226px;
	height: 25px;

}
.zhong{
	margin: 0 auto;
	width: 1226px;
	height: 152px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.zhong1{
	width: 160px;
	height: 152px;
	background-color: #fff;
	float: left;
}
.z{
	margin-bottom: 26px;
}
.zhinan{
	font-size: 12px;
	color: #757575;
	display: block;
	margin-top: 10px;
}
.zhinan:hover{
	color: #ff6700;
}
.zhong-right{
	width: 250px;
	height: 112px;
    /* background: red; */
    float: right;
    border-left: 1px solid #e0e0e0;
}
.zhong-right p{
	font-size: 22px;
	color: #ff6700;
	text-align: center;
}
.zhong-right p:nth-child(2){
	font-size: 12px;
	text-align: center;
	color: #616161;
	margin-top: 5px;
}
.zhong-right a{
	display: block;
	width: 120px;
	height: 30px;
	border: 1px solid #ff6700;
	margin: 0 auto;
	margin-top: 16px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	color: #ff6700;	
}
.zhong-right a:hover{
	background: #ff6700;
	color: #fff;
}
.footer{
	width: 100%;
	height: 98px;
	padding: 30px 0;
	background: #FAFAF9;
}
.footer-box{
	width: 1226px;
	height: 57px;
	margin: 0 auto;
}
.ft-box-logo{
	float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url(../img9/logo-footer.png) no-repeat 50% 50%;

}
.ft-zj{
	width: 575px;
	height: 55px;
	float: left;
}
.ft-zj p{
	width: 573.41px;
	height: 19px;
	line-height: 18px;
}
.ft-zj p a{
	font-size: 12px;
	color: #757575;

}
.ft-zj p span{
	font-size: 12px;
	color: #757575;
	margin: 0 -0.15rem;

}
.ft-zj .ft-zj1{
	width: 580px;
	height: 36px;
	/* line-height: 18px; */
	font-size: 12px;
	color: #b0b0b0;
	margin: 0 
}
.ft-zj .ft-zj1 a:hover{
	color: #ff6700;
}
.ft-zj .ft-zj1 a{
	margin: 0 -0.15rem;
	color: #b0b0b0;
}
.ft-rt{
	width: 437px;
	height: 28px;
	float: right;
	margin-top: 4px;
}
.ft-rt1{
	display: block;
	float: right;
	width: auto;
	height: 28px;
}
.ft-ft{
	clear: both;
    margin: 30px auto 0;
    width: 267px;
    height: 19px;
    background: url(../img9/6.png) no-repeat center 0;
}
.banner{
	width: 1226px;
	height: 460px;
	background-color: #555;
	margin: 0 auto;
	position: relative;
}
.banner-img{
	width: 100%;
	height: 100%;
	background-color: #ff6700
}
.banner-img img{
	width: 100%;
	height: 100%;
}
.banner-nav{
	width: 234px;
	height: 420px;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 0;
	top: 0;
	padding: 20px 0;
	z-index: 999;
}
.banner-item{
	width: 174px;
	height: 42px;
	padding: 0 30px;
	color: #fff;
	font-size: 14px;
	line-height: 42px;
}
.banner-item span:nth-child(1){
	float: left;
}
.banner-item span:nth-child(2){
	float: right;
}
.banner-item:hover{
	background-color: #ff6700;
}
.list{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	margin-top: 14px;
}
.list-item1{
	width: 228px;
	height: 164px;
	background-color: #5f5750;
	padding: 3px;
	float: left;
}
.list-content{
	width: 70px;
	height: 64px;
	padding-top: 18px;
	float: left;
}
.list-content span:nth-child(1){
	font-family: 'iconfont';
	font-size: 22px;
	color: #cfcdcb;
}
.list-content span:nth-child(2){
	font-size: 13px;
	color: #cfcdcb;
}
.list-content span{
	display: block;
	text-align: center;

}
.list-content：hover span{
	color: #fff;
	cursor: background;
}
.list-sx{
	width: 1px;
	height: 70px;
	background-color: #665e57;
	float: left;
	/* margin-top:6px; */
	margin: 6px 4px;
}
.tist-hx{
	width: 64px;
	height: 1px;
	background-color: #665e57;
	float: left;
	margin-left: 5px;		
}
.tist-hx1{
	width: 64px;
	height: 1px;
	background-color: #665e57;
	float: left;
	margin-left: 10px;	
}
.tist-hx2{
	width: 64px;
	height: 1px;
	background-color: #665e57;
	float: left;
	margin-left: 15px;	
}
.list-item2{
	width: 316px;
	height: 170px;
/* 	background-color: red; */
	float: right;
	margin-left: 15px;
}
.list-item2:last-child{
	margin-left: 0;
}
.list-item2 img{
	width: 316px;
	height: 170px;
}
.jd-zuo,.jd-item,.wntj,.rpcp-tiem{
	transition: all .5s linear;
}
.jd-zuo:hover,.jd-item:hover,.wntj:hover,.rpcp-tiem:hover{
	transform: translate(0, -10px);
	box-shadow: 0 5px 16px 1px #ccc;
}
.jd-nav li:hover{
	color: #ff6700;
	border-bottom-color: #ff6700;
	cursor: pointer;
}
.star-btn-active:hover{
	color: #ff6700;
}

.banner .swiper-button-prev{
	width: 41px!important;
	height: 69px!important;
	background: url('../img/icon-slides.png') no-repeat -86px 50%!important;
	left: 234px!important;
}
.banner .swiper-button-next{
	width: 41px!important;
	height: 69px!important;
	background: url('../img/icon-slides.png') no-repeat -134px 50%!important;
}
.banner .swiper-button-prev:hover{
	background-position: 2px 50%!important;
}
.banner .swiper-button-next:hover{
	background-position: -46px 50%!important;
}
.banner .swiper-pagination{
	left: auto!important;
	right: 30px!important;
	bottom: 20px!important;
	width: auto!important;
}
.banner .swiper-pagination-bullet{
	border: 2px solid rgba(0, 0, 0, 4)!important;
	background: rgba(255, 255, 255, 0.3)!important;
}
.banner .swiper-pagination-bullet-active{
	border: 2px solid rgba(255, 255, 255, 0.3)!important;
	background: rgba(0, 0, 0, 4)!important;
}
.rpcp-tiem .swiper-slide{
	background: #fff!important;
}
.rpcp-tiem .swiper-button-prev{
	width: 41px!important;
	height: 69px!important;
	background: url('../img/icon-slides.png') no-repeat -86px 50%!important;
}
.rpcp-tiem .swiper-button-next{
	width: 41px!important;
	height: 69px!important;
	background: url('../img/icon-slides.png') no-repeat -134px 50%!important;
}
.rpcp-tiem .swiper-button-prev:hover{
	background-position: 2px 50%!important;
}
.rpcp-tiem .swiper-button-next:hover{
	background-position: -46px 50%!important;
}
.rpcp-tiem .swiper-pagination{
	right: 0px!important;
	bottom: 20px!important;
	width: auto!important;
	margin: auto;
}
.rpcp-tiem .swiper-pagination-bullet{
	background: rgba(0, 0, 0, 0.6)!important;
}
.rpcp-tiem .swiper-pagination-bullet-active{
	border: 2px solid orangered!important;
	background: rgba(255,255,255,1)!important;
}
.list-content:hover span{
	color: #fff;
	cursor: background;
}
.neirong-wenzi4{
	font-size: 13px;
	color: #ff6700;
    text-align: center;
    width: 200px;
	height: 40px;
	margin: 0 auto;
}
.swiper-container{
	margin-left: 14!important;
}